script
    include ../../public/javascripts/vex.combined.min.js
script.
    vex.defaultOptions.className = 'vex-theme-default';
style
    include ../../public/stylesheets/vex.css
    include ../../public/stylesheets/vex-theme-default.css
    include ../../public/stylesheets/vex-theme-flat-attack.css