doctype html
html(lang="en")
    head
        title Hello World!
        script(type='text/javascript', src='javascripts/index.js')
    
    body
        h1 Header
        form(action="user", name="addUser", method="post")
            div.input
                p Username:
                input(type="text", name="username")
                P Email:
                input(type="text", name="email")
                P Password:
                input(type="password", name="password")
                input(type="submit", id="submitButton")