doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        include ./includes/bootstrapCSS.jade
        style
            include ../public/stylesheets/animate.min.css

    body(ng-app style="margin-left:20px; margin-right: 20px")
        h1 Welcome!
        p There should be some text.

        div.row
            div.col-md-3
                ul.userList.list-group
            div.col-md-8
                div.answerList.list-group

    include ./includes/jQuery.jade
    include ./includes/bootstrapScript.jade
    script
        include ../public/javascripts/indexBundled.js