doctype html
html(lang="en")
    head
        title No title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")

        include ./includes/bootstrapCSS.jade
        style
            include ../public/stylesheets/animate.min.css
            include ../public/stylesheets/loaders.min.css
            include ../public/stylesheets/center.css

    //- fontFamily, margin=0, overflow=hidden, background, width=0 and height=0 is set in cat.js :: init()
    body
        h1 Welcome!
        p There should be some text.

        div.row
            div.col-md-3
                a#refresh.btn.btn-primary(style="display:block;text-align:center;" href="#") Refresh
                ul.userList.list-group
            div.col-md-8
                div.answerList.list-group

        div#loadingBar(class="center loadingBar" style="display:none;")
            div.loader-inner.pacman(class="center")
                div
                div
                div
                div

        canvas#background(style="z-index:-10; position: absolute;  bottom: -25%; left: 0px")

        a.btn.btn-primary(href="http://roxik.com/cat" style="z-index: -5; position: absolute; bottom: 30px; left: 30px") Source of CAAAAAAAAAAT

    include ./includes/jQuery.jade
    include ./includes/bootstrapScript.jade
    script
        include ../public/javascripts/indexBundled.js
        include ../public/javascripts/cat.js