.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.loadingBar {
    background-color: rgb(181, 115, 115);
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.mainContainer {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: wheat;
    border-radius: 20px;
    padding: 10px;
}

.scrollProgressBar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5px;
    background: #093969;
    display: block;
}

.commentList > pre {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}